/* .naverIdLogin {
    display: none;
}

.naverLoginBtn{
    display: flex;
	align-items: center;
	width: 360px;
	height: 56px;
	background-color: #03c75a;
	border-radius: 6px;
}

.naverIcon{
    width: 30px;
	height: 30px;
	margin-left: 10px;
	background-image: url('../img/btnW_완성형.png') no-repeat center;
	background-size: 30px;
}

.naverLoginTitle{
    margin-left: 90px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
} */